.starryNight {
    background: linear-gradient(128deg, rgba(7,10,38,1) 0%, rgba(4,16,40,1) 100%) repeat;
    min-height: 100vh;
}
.centerX {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.centerY {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    z-index: 1;
}

.centerXY {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.paper {
    background: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 25px;
    color: black;
}

.formInput {
    width: 100%;
    height: 30px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.formInput:focus {
    outline-color: rgb(250, 76, 76);
}

@media (max-width: 768px) {
    .centerY {
        align-items: center;
    }
  }