
.landingContainer {
  height: 70vh;
}

.landingText {
  font-size: 84px;
  margin-bottom: 0px;
}

.landingSubText {
  font-size: 36px;
  font-weight: 100;
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.footer {
  padding: 15px;
  color: #888888;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.textLink {
  font-size: inherit;
}

.textLink:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .landingText {
      font-size: 70px;
  }
  .landingSubText {
    font-size: 26px;
    text-align: center;
  }
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}