.input {
    font: inherit;
    color: inherit;
    border: solid 2px white;
    height: 1.5em;
    margin: 10px;
    display: block;
    padding: 6px;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    letter-spacing: inherit;
    border-radius: 5px;
    transition: all ease-in-out 0.05s;
    text-align: center;
    font-weight: 300;
    width: 30vw;
}

.input:focus {
    border: solid 2px rgb(250, 76, 76);
    outline: rgb(250, 76, 76);
    transition: all ease-in-out 0.1s;
}

.label {
    color: white;
    padding: 4px;
    margin: 2px;
}

@media(max-width: 768px) {
    .input {
        width: 80vw;
    }
}
