.nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    padding: 0px 1.0875rem 1.45rem;
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 1260px;
    height: 10vh;
}

@media (max-width: 768px) {
   .nav {
       justify-content: space-evenly;
   }
}

.navList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.navListItem {
    float: left;
    display: block;
    text-align: center;
    padding: 16px;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    transition: all ease 0.1s;
    border-bottom: black solid 1px;
}

.navListItem:hover {
    border-bottom: rgb(250, 76, 76) solid 1px;
    cursor: pointer;
    transition: ease 0.15s;
}