.titleWrapper {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgb(41, 41, 41);
    color: white;
    border-radius: 5px;
    border: white solid 1px;
    box-shadow: white 4px 4px;
}

.section {
    background:rgb(41, 41, 41);
    border-radius: 5px;
}

.signsWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0.875em;
}

.icon {
    filter: invert(1);
    height: 100px;
    width: 100px;
    margin: 20px;
    border-radius: 50%;
    border: solid 2px black;
}

.zodiac {
    font-size: 32px;
    font-weight: 300;
}

.landingTitle {
    font-size: 42px;
    font-weight: 300;
    text-align: center;
    margin: 0px;
}

.horoscopeWrapper {
    padding: 30px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.compatibility {
    font-size: 1.3rem;
    margin: 0.875em;
    font-weight: 200;
}

.compatibilityItem {
    margin: 0.525em;
}

.dividerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dividingLine {
    width: 0px;
    height: 100px;
    border-left: white dashed 0.5px;
}

.horoscope {
    font-size: 2.25rem;
    font-weight: 300;
    text-align: center;
}

.innerWrapper {
    display: flex;
    flex-direction: row;
}

.sentimentAnalysisWrapper {
    padding: 0.275em;
    margin: 0.275em;
}

.horoscopeAnalysisWrapper {
    width: 60%;
    height: 450px;
    margin: 0.875em;
    font-size: 1.75rem;
    padding: 20px;
    font-weight: 200;
    border-radius: 5px;
    color: white;
    text-align: center;
}

.playlistWrapper {
    width: 40%;
    height: 100%;
    margin: 0.875em;
    color: white;
    overflow-y: scroll;
    border-radius: 5px;
}

.playlistInnerWrapper {
    display: flex;
    flex-direction: column;
}

.playlistHeader {
     font-size: 18px;
}

.radarWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0.875em;
    margin-bottom: 0.875em;
}

.sentimentChartWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0.875em;
    margin-bottom: 0.875em;
}

@media(max-width: 768px) {
    .innerWrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .playlistWrapper, .horoscopeAnalysisWrapper {
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .landingTitle {
        font-size: 36px;
    }
    .compatibility {
        text-align: center;
    }
}