.signInContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.signUpFormWrapper {
    width: 500px;
    min-height: 500px;;
}

.submitButton {
    padding: 15px;
    font-size: 18px;
    background: rgb(250, 76, 76);
    border-radius: 5px;
    outline: none;
    border: none;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.submitButton:hover {
    background: #e34646;
    color: whitesmoke;
}