.signUpContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.signUpFormWrapper {
    width: 500px;
    min-height: 500px;;
}

.submitButton {
    padding: 10px;
    font-size: 18px;
    background: rgb(250, 76, 76);
    border-radius: 5px;
    outline: none;
    border: none;
    color: white;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    min-width: 100px;
}

.submitButton:hover {
    background: #e34646;
    color: whitesmoke;
}

.backLink {
    padding: 5px;
}

.backLink:hover {
    text-decoration: underline;
    cursor: pointer;
}

.textLink {
    font-size: 16px;
    font-weight: 200;
}
.textLink:hover {
    cursor: pointer;
    text-decoration: underline;
}

.dateWrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.innerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.formSectionTitle {
    text-align: center;
    font-size: 36px;
    margin-bottom: 0px;
}

.formSectionSubTitle {
    text-align: center;
    font-size: 32px;
    margin-bottom: 0px;
    font-weight: 300;
}

.loadingContainer {
    font-size: 36px;
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

@media (max-width: 768px) {
    .signUpFormWrapper {
        width: 80vw;
    }
    .formSectionTitle {
        text-align: center;
        font-size: 24px;
        margin-bottom: 12px;
    }
    .formSectionSubTitle {
        text-align: center;
        font-size: 22px;
        margin-bottom: 12px;
    }
}
