.signInContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.signUpFormWrapper {
    width: 500px;
    min-height: 500px;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submitButton {
    padding: 15px;
    font-size: 18px;
    background: rgb(250, 76, 76);
    border-radius: 5px;
    outline: none;
    border: none;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.submitButton:hover {
    background: #e34646;
    color: whitesmoke;
}

.errorContainer {
    width: 100%;
    min-height: 30px;
    color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
}

.bottomLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.textLink {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}
.textLink:hover {
    cursor: pointer;
    text-decoration: underline;
}
